/* css resets */
* {
  margin:auto;
  box-sizing: border-box;
}

body {
  background-color: #03191e;
  width: 102.5%;
  overflow-x:hidden;
  font-family:sans-serif;
}
#memes {
  column-count:3;
  margin:25px;
}
img {
  width: 30vw;
  max-width: 25em;
  cursor: pointer;
  border:1px solid white;
  opacity:0.95;
}
img:hover {
  box-shadow: 5px 5px 20px 15px #000;
  opacity:1;
  transform:scale(1.03);
  transition: 150ms;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-bottom:15px;
}

button {
  display: inline-block;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  box-shadow: 0 5px #d90429;
}

button:hover {
  box-shadow: 0 3px #d90429;
  top: 1px;
}
button:active {
  box-shadow: 0 0 #d90429;
  top: 5px;
}

h4 {
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: beige;
  margin:10px;
}
@media only screen and (max-width: 1000px) {
  #memes {

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
  grid-gap: 1vw;
  text-align: center;
  }
  img {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #memes {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 4vw;
  text-align: center;
  }
  img {
    width: 100%;
  }
}
