/* css resets */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mochiy+Pop+P+One&family=Patrick+Hand&display=swap');

* {
  margin:auto;
  box-sizing: border-box;
}

body {
  background-color: #03191e;
  width: 102.5%;
  overflow-x:hidden;
  font-family:sans-serif;
}
#memes {
  column-count:3;
  margin:25px;
  padding-top: 3em; 
}
img {
  width: 30vw;
  max-width: 25em;
  cursor: default;
  border:1px solid white;
  opacity:0.95;
  transition: 0.3s;
}
img:hover {
  box-shadow: 5px 5px 20px 15px #000;
  opacity:1;
  transform:scale(1.03);
  transition: 0.3s;
}
.text {
  color: white;
}
h1 {
  font-family: 'Mochiy Pop P One', monospace;
  text-align: center;
}
h4 {
  font-family: 'Patrick Hand', monospace;
}
p {
  font-family: 'Patrick Hand', monospace;
  font-size: 1.2rem;
}
.tik {
  color:  #ff0050;
  text-shadow: 2px 2px #00f2ea;
  animation-name: colorChanger;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
.tik:hover {
  transition: 0.3s;
  opacity: 0.7;
}
@keyframes colorChanger {
  0% {
  color:  #ff0050;
  text-shadow: 2px 2px #00f2ea;
  }
  33%{
  color: #ff0050;
 text-shadow: 2.5px 2.5px 0px #00e6e6, 5px 5px 0px #01cccc, 7.5px 7.5px 0px #00bdbd;
  }
  66% {
  color:  #ff0050;
   text-shadow: -2.5px 2.5px 0px #00e6e6, -5px 5px 0px #01cccc, -7.5px 7.5px 0px #00bdbd;
  }
  100% {
     color:  #ff0050;
  text-shadow: 2px 2px #00f2ea; 
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  margin-top: 2em;
  /* margin-bottom:15px; */
}

button {
  font-family: 'Mochiy Pop P One';
  display: inline-block;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  box-shadow: 0 5px #d90429;
  user-select: none;
}

button:hover {
  box-shadow: 0 3px #d90429;
  top: 1px;
}
button:active {
  box-shadow: 0 0 #d90429;
  top: 5px;
}

h4 {
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: beige;
  margin:10px;
}
.smaller {
  font-size: 1.2rem;

}
@media only screen and (max-width: 1000px) {
  #memes {

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
  grid-gap: 1vw;
  text-align: center;
  }
  img {
    width: 100%;
  }
  
}
@media only screen and (max-width: 600px) {
  #memes {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 4vw;
  text-align: center;
  }
  img {
    width: 100%;
  }
  
  }
}
